// ハンバーガーメニュー
.hamburger
  position absolute
  top 45px
  left 20px
  width 40px
  transition $tra3
  opacity 0
.hamburger-small
  top 18px
  opacity 1
  .border
    display block
    width 100%
    height 4px
    background $red
    border-radius 2px
    transition .4s
.border
  display block
  width 100%
  height 4px
  background $black
  transition .4s
.border-active:nth-child(1)
  transform translateY(12px) rotate(220deg)
  transition .4s
.border-active:nth-child(2)
  opacity 0
  transition .4s
.border-active:nth-child(3)
  transform translateY(-12px) rotate(-220deg)
  transition .4s
.border:not(last-child)
  margin 0 0 8px 0
// ナビゲーション
.header-inner
  position absolute
  top 0
  width 100%
  height 100px
  background $yellow
  transition $tra3
  box-sizing border-box
  z-index 1000
  h1
    padding 40px 0 0 0
    font-size 3em
    text-align center
    transition $tra3
// ヘッダースモール
.header-small
  position fixed
  width 100%
  height 60px
  background $yellow
  transition $tra3
  z-index 1000
  h1
    padding 22px 0 0 0
    font-size 1.6em
    text-align center
    transition $tra3
// ナビゲーション
nav.pc_nav
  display none
// スライドトグルメニュー
nav.sp_nav
  position fixed
  top 100px
  display none
  width 100%
  background $yellow
  z-index 1000
  li
    letter-spacing 0.05em
    line-height 2.8em
    font-size 1.4em
    font-weight bold
    text-align center
    border-bottom 1px solid $black
    a
      display block
      color $black
      text-decoration none
nav.nav-small-fix
  position fixed
  top 60px
  width 100%
  background $yellow
