$tra3 = .3s 
$yellow = #E9CD4C
$green = #8be94c
$red = #CC543A
$white = #FCFAF2
$black = #3A3226

@font-face
  font-family "font"
  src url("../font/Nyorai.otf")
@font-face
  font-family "font-catch"
  src url("../font/Jukaku.otf")
