@import "import/var.styl"

@import "import/reset.styl"

body
  background $yellow
  -webkit-font-smoothing antialiased
#bg-black
  display none
  position fixed
  top 0
  width 100%
  height 100%
  background rgba(0,0,0,.3)
  z-index 500

@import "import/header.styl"

@import "import/main.styl"

@media screen and (min-width 768px)
  body
    // background white

// フッター
footer
  width 100%
  line-height 40px
  background $red
  p
    text-align center