html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote before,
blockquote after,
q before,
q after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@font-face {
  font-family: "font";
  src: url("../font/Nyorai.otf");
}
@font-face {
  font-family: "font-catch";
  src: url("../font/Jukaku.otf");
}
.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    position: absolute;
    top: 45px;
    left: 20px;
    display: block;
    width: 40px;
    transition: 0.3s;
    opacity: 0;
  }
  .hamburger-small {
    top: 18px;
    opacity: 1;
  }
  .hamburger-small .border {
    display: block;
    width: 100%;
    height: 4px;
    background: #cc543a;
    border-radius: 2px;
    transition: 0.4s;
  }
  .border {
    display: block;
    width: 100%;
    height: 4px;
    background: #3a3226;
    transition: 0.4s;
  }
  .border-active:nth-child(1) {
    transform: translateY(12px) rotate(220deg);
    transition: 0.4s;
  }
  .border-active:nth-child(2) {
    opacity: 0;
    transition: 0.4s;
  }
  .border-active:nth-child(3) {
    transform: translateY(-12px) rotate(-220deg);
    transition: 0.4s;
  }
  .border:not(last-child) {
    margin: 0 0 8px 0;
  }
}
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 175px;
  z-index: 1000;
}
.header-inner {
  width: 1100px;
  margin: 0 auto;
  background: transparent;
  transition: 0.3s;
  box-sizing: border-box;
}
.header-inner h1 {
  padding: 40px 0 0 0;
  font-size: 4em;
  text-align: center;
  transition: 0.3s;
  font-family: "font-catch";
}
.header-inner h1 a {
  color: #3a3226;
  text-decoration: none;
}
.header-small {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 1100px;
  height: 60px;
  z-index: 1000;
}
.header-small h1 {
  padding: 20px 0 0 0;
  font-size: 2.5em;
  transition: 0.3s;
  font-family: normal;
}
nav.pc_nav {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 30px;
}
nav.pc_nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.pc_nav ul li {
  width: 20%;
  text-align: center;
}
nav.pc_nav ul li a {
  padding: 10px;
  color: #3a3226;
  font-size: 1em;
  text-decoration: none;
}
nav.sp_nav {
  display: none;
}
@media screen and (max-width: 768px) {
  nav.pc_nav {
    display: none;
  }
  nav.sp_nav {
    display: block;
  }
}
nav.sp_nav {
  position: fixed;
  top: 100px;
  display: none;
  width: 100%;
  background: #fcfaf2;
  z-index: 1000;
}
nav.sp_nav li {
  letter-spacing: 0.05em;
  line-height: 2.8em;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #3a3226;
}
nav.sp_nav li a {
  display: block;
  color: #3a3226;
  text-decoration: none;
}
nav.nav-small-fix {
  position: fixed;
  top: 60px;
  width: 100%;
  background: #fcfaf2;
}
#bg-black {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  z-index: 500;
}
body {
  background: #fcfaf2;
  -webkit-font-smoothing: antialiased;
}
main {
  display: block;
  width: 100%;
  background: linear-gradient(165deg, #e9cd4c 33%, transparent 33%);
}
#main-content {
  width: 100%;
  margin: 0 auto;
}
#main-content #slidewrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}
#main-content #slider {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 300%;
}
#main-content #slider .imgbox {
  width: 100%;
  height: auto;
  background: #e9cd4c;
}
#main-content #slider .imgbox img {
  width: 100%;
}
#main-content #slider .imgbox:nth-child(2) {
  background: #f00;
}
#main-content #slider .imgbox:nth-child(3) {
  background: #00f;
}
.top-content {
  position: relative;
  width: 100%;
  height: 720px;
  margin: 0 auto;
  padding: 180px 0 0 0;
}
.top-content .top-content-bg {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 100%;
  height: 720px;
  background: linear-gradient(-155deg, #ceae19 40%, #fcfaf2 40%);
  z-index: -1;
}
.top-content p.bigtext {
  position: absolute;
  top: 11%;
  left: 0;
  right: 0;
  background: url("../images/hude.png") no-repeat center bottom;
  background-size: contain;
  letter-spacing: -10px;
  font-size: 10em;
  font-style: italic;
  font-family: "font-catch";
  transform: rotate(-10deg);
  z-index: 100;
}
.top-content p.bigtext span {
  font-size: 0.7em;
}
.top-content span.fs-15 {
  font-size: 1.1em;
}
.top-content p.captext {
  position: absolute;
  top: 70%;
  left: 0;
  font-size: 3em;
}
.top-content p.captext span {
  font-size: 1.4em;
  background: url("../images/hude2.png") no-repeat center bottom;
  background-size: contain;
}
.top-content-inner {
  position: relative;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  padding: 50px 0 0 0;
  box-sizing: border-box;
}
.top-content-inner p {
  font-size: 3.5em;
  font-style: normal;
  font-family: "font-catch";
}
.top-content .top-content-imgbox {
  position: absolute;
  top: -6%;
  right: 0;
}
.top-content .top-content-imgbox .top-content-img img {
  width: 450px;
}
.top-content .top-content-imgbox .top-content-img.ama img {
  margin: -350px 0 0 80px;
}
.section-wrap {
  width: 100%;
  height: auto;
  margin: 200px auto 0;
  background: linear-gradient(20deg, #e9cd4c 30%, transparent 30%);
}
.section-wrap h2 {
  display: block;
  color: #3a3226;
  font-size: 3em;
  font-weight: 100;
  text-align: center;
  z-index: 10;
  font-family: "font";
}
.characters-content {
  position: relative;
  display: flex;
  width: 1100px;
  margin: -100px auto 0;
  padding: 175px 0 0 0;
}
.characters-content .character_box {
  width: 60%;
}
.characters-content .character_box figure {
  width: 100%;
}
.characters-content .character_box figure img {
  width: 100%;
}
.characters-content .character_box figcaption {
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
}
.characters-content .ama {
  margin-left: auto;
}
.characters-content .hima {
  margin-right: auto;
}
.characters-content .hima img {
  margin-top: -150px;
}
h3.amari-title,
h3.himari-title {
  display: block;
  color: #3a3226;
  font-size: 8em;
  font-weight: bold;
  text-align: left;
  z-index: 10;
  font-family: "font";
}
.ama-inner ul,
.hima-inner ul {
  margin-top: 20px;
  font-family: "font";
}
.ama-inner ul li,
.hima-inner ul li {
  font-size: 2.6em;
  line-height: 1.75em;
  list-style-type: none;
}
.ama-inner .twitter-sns a,
.hima-inner .twitter-sns a {
  display: block;
  width: 50px;
  line-height: 50px;
  background: #cc543a;
  color: #fcfaf2;
  font-size: 1.1em;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
}
.hima-inner {
  right: 0;
}
.hima-inner ul {
  margin-left: 20px;
}
.hima-inner .twitter-sns a {
  margin-left: 20px;
}
.hima-inner h3 {
  text-align: right;
}
.question-content {
  width: 1100px;
  margin: 0 auto 0;
  display: block;
}
.question-content h3 {
  text-align: center;
}
.question-content ul li:nth-child(even) {
  list-style-type: none;
}
#news-content {
  position: relative;
}
#news-content ul {
  width: 90%;
  margin: -10px auto 0;
  padding: 30px 25px 20px;
  border: 4px double #cc543a;
  box-sizing: border-box;
}
#news-content ul li {
  font-size: 14px;
  margin-bottom: 10px;
  letter-spacing: 0.05em;
  line-height: 1.75em;
  text-align: left;
  list-style-type: none;
}
#news-content ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f044";
  margin: 0 4px 0 0;
  font-weight: 900;
  font-size: 12px;
  color: #cc543a;
}
#news-content ul li:first-child::before {
  content: "新着!";
  margin: 0 4px 0 0;
  color: #cc543a;
  font-size: 12px;
  border-bottom: 4px double #cc543a;
}
footer {
  width: 100%;
  line-height: 40px;
  background: #cc543a;
}
footer p {
  text-align: center;
}
