  
@import "import/reset.styl"

@import "import/var.styl"

@import "import/header.styl"

@import "import/main.styl"

@media screen and (min-width 768px)
  body
    // background white

// フッター
footer
  width 100%
  line-height 40px
  background $red
  p
    text-align center