doctype html
html(lang="ja")
  
  include include/head

  body
    #bg-black
    #mainwrap

      include include/header
              
      include include/mainparts
        
      include include/footer

    script(src="./js/jquery-3.2.1.min.js")
    script(src="./js/main.js")