header
  .header-inner
    div.hamburger
      span.border
      span.border
      span.border
    h1
      a(href="#top") AmaHima
    nav.pc_nav
      ul
        li
          a(href="#amari-content") アマリって？
        li
          a(href="#himari-content") ヒマリって？
        li
          a(href="#") お知らせ
        li
          a(href="#") 新着動画
        li
          a(href="#") ご連絡先
    nav.sp_nav
      ul
        - 
          var list = [
            {
              title: "ヒマリって？",
              url: "top.html"
            },
            {
              title: "アマリって？",
              url: "link.html"
            },
            {
              title: "Contact",
              url: "contact.html"
            },
            {
              title: "Contact",
              url: "contact.html"
            },
            {
              title: "Contact",
              url: "contact.html"
            },
          ]
        each item in list
          li: a(href=item.url) #{item.title}