main
  #main-content
    //- #slidewrap
    //-   #slider
    //-     .slider-image01.imgbox
    //-       img(src="./images/AmaHima_Header.jpg", alt="")
    //-     .slider-image02.imgbox
    //-     .slider-image03.imgbox
    .top-content
      .top-content-bg
      .top-content-inner
        h2 お空の
          span.fs-15 ｢<ruby>神様<rt>ふたり</rt></ruby>｣
          |は、
          span.bigtext 地上で
            br
            |「ユーチューバー」
        p.captext 二人の新たなる
          span 挑戦
          |が始まる!
        .top-content-imgbox
          figure.top-content-img.hima
            img(src="./images/Hima.png" alt="Ama")
          figure.top-content-img.ama
            img(src="./images/Ama.png", alt="ama")
    .section-wrap
      section#news-content
        h3.section-title
          img(src="./images/amahima-small2.png" width="70px")
          |お知らせ
          img(src="./images/amahima-small3.png" width="70px")
        ul
          li
            a 2018/11/10 あまひまChannel開設！
          li
            a 2018/11/10 あまひまHomePage開設！
          li
            a 2018/11/10 あまひまグッズ夏コミ３日目にて販売決定！
      h3.section-title キャラクター紹介
      .flex-wrap
        .c-wrap
          section#amari-content.characters-content
            .character_box.ama
              figure
                span
                  img(src="./images/Ama2.png" alt="Ama")
                figcaption.ama-inner
                  h4.amari-title 風神アマリ
                  ul
                    li 出身 - 京都
                    li 年齢 - 394歳
                    li 誕生 - 11月22日
              p.twitter-sns
                a(href="#"): i.fab.fa-twitter
              p.twitter-caption あまりのTwitter
          section.question-content
            h4 アマリの質問コーナー！
            ul
              li 好きな食べ物は？
              li ｢カステラ｣
              li 好きな季節は？
              li ｢冬｣
              li 趣味は？
              li 「ヒマリにイタズラする事｣
              li 特技は？
              li 「目を閉じてすぐ寝れる事｣
              li 休みの日は？
              li 「満足するまで寝る！！！｣
              li アマリから見たヒマリの印象
              li 「どっちが歳上なんだ、、、？｣
        .c-wrap
          section#himari-content.characters-content
            .character_box.hima
              figure
                span
                  img(src="./images/Hima2.png" alt="Hima")
                figcaption.hima-inner
                  h3.himari-title 雷神ヒマリ
                  ul
                    li 出身 - 京都
                    li 年齢 - 394歳
                    li 誕生 - 11月22日
              p.twitter-sns 
                a(href="#"): i.fab.fa-twitter
              p.twitter-caption ひまりのTwitter
          section.question-content
            h4 ヒマリの質問コーナー！
            ul
              li 好きな食べ物は？
              li ｢外カリカリなかりんとう饅頭｣
              li 好きな季節は？
              li ｢夏｣
              li 趣味は？
              li 「絵を描くこと｣
              li 特技は？
              li 「歌うこと｣
              li 休みの日は？
              li 「どこでも寝ること｣
              li ヒマリから見たアマリの印象
              li 「生まれたときからツインテール？？｣        
      .youtube-wrap
        .youtube_link
          .link-wrap
            iframe(width="560" height="315" src="http://www.youtube.com/embed?listType=playlist&list=PL-ctlReSYUdWmHJl3n63lSINl2h7SoqRJ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            iframe(width="560" height="315" src="http://www.youtube.com/embed?listType=playlist&list=PL-ctlReSYUdXJ9zeeSl1H2ZhT08dwMmtE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .youtube_link
          .link-wrap