main
        #main-content
          //- #slidewrap
          //-   #slider
          //-     .slider-image01.imgbox
          //-       img(src="./images/AmaHima_Header.jpg", alt="")
          //-     .slider-image02.imgbox
          //-     .slider-image03.imgbox
          .section-wrap
            section#characters-content
              h2.section-title AmaHima?!
              .character_box.ama
                figure
                  img(src="./images/Ama.png" alt="Ama")
                  figcaption Ama
                    br
                    | 年齢：Test
                    br
                    | 好きなもの：Test
                    br
                    | ひとこと：Test
              .character_box.hima
                figure
                  img(src="./images/Hima.png" alt="Ama")
                  figcaption hima
                    br
                    |年齢：Test
                    br
                    |好きなもの：Test
                    br
                    | ひとこと：Test
            section#news-content
              h2.section-title Amahima NEWS
              ul
                li
                  a 2018/11/10 あまひまChannel開設！
                li
                  a 2018/11/10 あまひまHomePage開設！
                li
                  a 2018/11/10 あまひまグッズ夏コミ３日目にて販売決定！
              .youtube_link
                .link-wrap
              .youtube_link
                .link-wrap
                  iframe(width="560" height="315" src="http://www.youtube.com/embed?listType=user_uploads&list=ONEOKROCKchannel" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                  iframe(width="560" height="315" src="http://www.youtube.com/embed?listType=playlists&list=PL8ADA9D1C464A4F16" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                  iframe(width="560" height="315" src="http://www.youtube.com/embed?listType=playlists&list=PL2059CFFC5E5CCDC3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)